pipeline/D3_Orchestrator.json
{
	"name": "D3_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Get Table Listing",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetTableListing]",
						"storedProcedureParameters": {
							"GroupName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.groupName",
									"type": "Expression"
								}
							},
							"OptionalTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.optionalTable",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SO_Synapse_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Refresh Table Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table Listing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table Listing').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"description": "Switch is based on 0 - Snapshot; 1 - Incremental",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(item().IsIncremental)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "0",
										"activities": [
											{
												"name": "Execute Snapshot Pipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Snapshot_Pipeline_Extract",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"tableName": {
															"value": "@item().TableName",
															"type": "Expression"
														},
														"baseURL": "https://3clouddemo.blob.core.windows.net/demo-container/DailyExtract/"
													}
												}
											}
										]
									},
									{
										"value": "1",
										"activities": [
											{
												"name": "Execute Incremental Pipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Incremental_Pipeline_Extract",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"tableName": {
															"value": "@item().TableName",
															"type": "Expression"
														},
														"baseURL": "https://3clouddemo.blob.core.windows.net/demo-container/DailyExtract/"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"groupName": {
				"type": "string",
				"defaultValue": "SO"
			},
			"optionalTable": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Old Demos/Demo 3"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-09T11:40:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}